<!DOCTYPE html>

<html>
	<head>
		<title>About</title>
		<link rel="icon" href="/img/weather icon.png"/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
		<body>
			<div class="main-content">
			{{>header}}
			<p>This site is created by Chenia Glen Falcatan. It uses data from mapbox.com and weather stack. This web application is for bootcamp sample.</p>
			<img class= "portrait" src="/img/covid.jpg" />

			</div>
				
		</body>
		{{>footer}}

</html>